@font-face {
    font-family: Gordita;
    font-style: normal;
    font-weight: 400;
    src: url("../assets/Gordita-Regular.woff");
}

@font-face {
    font-family: Gordita-Bold;
    font-style: bold;
    font-weight: 400;
    src: url("../assets/Gordita-Bold.woff");
}

@font-face {
    font-family: Gordita-Medium;
    font-style: bold;
    font-weight: 400;
    src: url("../assets/Gordita-Medium.woff");
}

html {
    box-sizing: border-box;
}

*, *::before, * ::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    background: #F8F8F8;
}

.header_nav {
    text-align: center;
    font-style: bold;
}

.housen {}

.header_nav_div {}

.header_wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 17% 73% 10%;
    justify-content: space-between;
}

.header_nav-list {}

.header_nav-list-item {
    display: inline-block;
    list-style-type: none;
    margin-right: 54px;
}

.header_nav-list-item-link {
    font-family: Gordita-Bold;
    font-weight: normal;
    color: #272727;
    text-decoration: none;
}

.header_nav {}

.signup {
    width: 164px;
    height: 48px;
    text-align: center;
    border: 2px solid #6935FD;
    box-sizing: border-box;
}

.but {
    font-family: Gordita-Bold;
    font-weight: normal;
    text-decoration: none;
    color: #6935FD;
}

.butDiv {
    display: grid;
    justify-self: center;
    align-self: center;
    margin-top: 12px;
}

.center {
    font-family: Gordita-Medium;
    margin-top: 184px;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #272727;
}

.descrip {
    margin-top: 86px;
    text-align: center;
    font-family: Gordita-Medium;
    font-size: 22px;
    line-height: 38px;
    color: #616161;
}

.search_bar {
    display: grid;
    grid-template-columns: 11% 3% 86%;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    width: 750px;
    height: 70px;
    background: white;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.search_bar-bar {
    width: 450px;
    height: 50px;
    margin-right: 32px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #A8A8A8;
    border: none;
    outline: none;
}

.button-submit {
    font-family: Gordita;
    font-size: 18px;
    width: 175px;
    height: 46px;
    background: #6935FD;
    border-radius: 2px;
    color: white;
    margin-right: 12px;
    border: none;
    outline: none;
}

.divider {}

.action {
    display: grid;
    grid-template-columns: 73% 27%;
}

.ellipse {
    width: 24px;
    height: 24px;
    margin-left: 23px;
}

.lastserchset {
    margin-top: 56px;
}

.lastsearch {
    display: grid;
    grid-template-columns: 50% 8% 34% 8%;
    align-items: center;
    margin: 0 auto;
    margin-top: 16px;
    width: 750px;
    height: 70px;
    background: white;
    border-radius: 4px;
}

.lastsearchref {
    font-family: Gordita-Medium;
    font-size: 18px;
    line-height: 26px;
    color: #272727;
    text-decoration: none;
}

.location {
    width: 360px;
    height: 26px;
    margin-left: 32px;
    margin-right: 45px;
}

.filter {
    width: 16px;
    height: 16px;
}

.filterText {
    width: 229px;
    height: 19px;
    font-family: Gordita;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #616161;
}

.lineImg {
    width: 16px;
    height: 16px;
}

.circle {
    fill: #A8A8A8;
    left: calc(50% - 6.5px/2 - 3.75px);
    top: calc(50% - 6.5px/2 - 3.25px);
}

.footer {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 184px;
    font-family: Gordita;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #A8A8A8;
    background: #FFFFFF;
}

.footerNavUl {
    text-align: center;
    list-style-type: none;
}

.footerNavItem {
    display: inline;
    margin-right: 20px;
}

.footerLink {
    color: #A8A8A8;
    text-decoration: none;
}

.housenCorp {
    margin-top: 18px;
}
